body {
	background:url("https://cdn.shutterstock.com/shutterstock/videos/2659799/thumb/1.jpg?i10c=img.resize(height:160)");
	background-repeat: none;
	background-size: cover;
}

h1 {
	font-family: 'Inconsolata', monospace;
	animation: rollIn 2s;
	text-align: center;
	font-size: 50px;
	font-weight: 800;
}

h2 {
	font-family: 'Inconsolata', monospace;
	animation: rollIn 2.5s;
	text-align: center;
	font-size: 20px;
	padding-bottom: 0;
}

.guessBox {
	text-align: center;

}

input {
	font-family: 'Inconsolata', monospace;
	background: #61d3dd;
	border: 1px solid black;
}

button {
	font-family: 'Inconsolata', monospace;
	margin-top: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	background: transparent;
	border: 1px solid black;
}

p {
	font-family: 'Inconsolata', monospace;
	margin-top: 5px;

}